.foot{
    background-image: linear-gradient(to bottom, transparent,rgba(233, 35, 78, 0.507) );
    /* height: 90px; */
    
}
.container-fluid{
    padding: 0;
    margin: 0;
}

.dd{
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    
}

.si{
    color: #007bff;
}

.silogo{
    height: 1.5rem;
    margin: 0rem 0.3rem;
}

@media only screen and (max-width: 768px){
    .dd{
        text-align: center;
        padding: 1rem 5rem;
        font-size: 1rem;
        
    }

}