.idse18{
    color: #E9234D;
    font-size: 2.2rem;
    border-bottom: solid 5px;
    padding-bottom: .5rem;
    border-image: linear-gradient(to right, #090930 , #E9234D, #090930) 1 ;
    
}

.idse18title{
    text-align: center;
    margin-bottom: 2rem;
}

.gally{
    position: relative;
}

.gall{
    margin: auto;
    padding: 1rem 5rem;
}
.car{
   left:17%;
   position: absolute;
   top:0%;
   padding: 2rem 6rem;

}

.memphis8{
    width: 6%;
    position: absolute;
    bottom:0%;
    left: 22%;
    z-index: -1;
    
}

.memphis9{
    width: 6%;
    position: absolute;
    top:12%;
    left: 75%;
    z-index: -1;
}


@media only screen and (max-width: 768px){
    .idse18{
        font-size: 1.5rem;
        border-bottom: solid 4px;
        padding-bottom: .2rem;
    }

    .gall{
        padding: 0.5rem 0.5rem;
    }
    .car{
        
        position: absolute;
        left:0%;
        padding: 1rem 1rem;
    }
    .memphis8{
        width: 9%;
        left: 1%;
        z-index: -1;
        
    }

    .idse18title{
        margin-bottom: 1rem;
    }
    
    .memphis9{
        width: 9%;
        left: 90%;
        z-index: -1;
        top:14%;
    }
    
    .carousel-indicators{
        display: none;
    }
}