body{
    background-color: #090930;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

  *{
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 767px){
  body{
    overflow-x: hidden;
  }
}