<div class="container-fluid">
<div class="idse18title">
    <span class="idse18">
        Organising Heads
    </span>
</div>

<div class="row team">
    <div class="col-md-4 col-sm-4 col-4 text-center">
        <img src="assets/images/Group 26.svg" class="img-fluid mem">
        <div class="memname">Prof. V K Parashar</div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 text-center">
        <img src="assets/images/Group 26.svg" class="img-fluid mem">
        <div class="memname">Vinayak Gupta</div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 text-center">
        <img src="assets/images/Group 26.svg" class="img-fluid mem">
        <div class="memname">Vinayak Gupta</div>
    </div>
</div>
</div>

 <div class="container-fluid">
    <div class="idse18title">
        <span class="idse18">
                College Captains
        </span>
    </div>
        
    <div class="row team">
        <div class="col-md-2 col-sm-2 col-2">
            
        </div>
        <div class="col-md-4 col-sm-4 col-4 text-center">
                <img src="assets/images/Group 26.svg" class="img-fluid mem">
                <div class="memname">Prof. V K Parashar</div>
            </div>
            <div class="col-md-4 col-sm-4 col-4 text-center">
                <img src="assets/images/Group 26.svg" class="img-fluid mem">
                <div class="memname">Vinayak Gupta</div>
            </div>
            <div class="col-md-2 col-sm-2 col-2">
            
                </div>
        </div>
        </div>

        <div class="container-fluid">
                <div class="idse18title">
                    <span class="idse18">
                            Web Team
                    </span>
                </div>
                    
                <div class="row team">
                    <div class="col-md-2 col-sm-2 col-2">
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 text-center">
                            <img src="assets/images/Group 26.svg" class="img-fluid mem">
                            <div class="memname">Prof. V K Parashar</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 text-center">
                            <img src="assets/images/Group 26.svg" class="img-fluid mem">
                            <div class="memname">Vinayak Gupta</div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                        
                            </div>
                    </div>
                    </div>
