<div class="container-fluid">
    <div class="idse18title">
        <span class="idse18">
            Organising Heads
        </span>
    </div>

    <div class="row org">
        
                <div class="col sqa">
                        <img src="../../assets/images/sqa.svg" class="img-fluid orimg">
                        <img src="../../assets/images/sarthak2.svg" class="img-fluid memimg">
                        <!-- <span class="memname">Vinayak Gupta</span>  -->
                    </div>
            
                    <div class="col sqa">
                        <img src="../../assets/images/sqa.svg" class="img-fluid orimg">
                        <img src="../../assets/images/sarthak2.svg" class="img-fluid memimg">
                    </div>
            
                    <div class="col sqa">
                        <img src="../../assets/images/sqa.svg" class="img-fluid orimg">
                        <img src="../../assets/images/sarthak2.svg" class="img-fluid memimg">
                    </div>
        
       
    </div>

</div>
 <br>
