<div class="container-fluid slide-section">
        <img src="assets/images/akg_logo.svg" class="logo1 img-fluid">
    <div class="row akgtitle no-gutter">
        <img src="assets/images/akg_logo.svg" class="logo img-fluid">
        <span class='akg'> AJAY KUMAR GARG ENGINEERING COLLEGE</span>
    </div>

    <div class="row no-gutter">
        <div class="col-md-6 idse">
            <div class="glitch" data-text="INTER">INTER</div>
            <div class="glitch" data-text="DEPARTMENTAL">DEPARTMENTAL</div>
            <div class="glitch" data-text="SPORTS EVENT' 19">SPORTS EVENT' 19</div>
            <a class="btn register animated pulse" href="#regis">Register</a>
        </div>
        <div class="col-md-6" >
            <img src="assets/images/shape1.svg" class="shape1 img-fluid" >
            <img src="assets/images/memphis.svg" class="memphis1 img-fluid">
            <img src="assets/images/memphis.svg" class="memphis2 img-fluid">
            <img src="assets/images/running.svg" class="running img-fluid">
            <img src="assets/images/football.svg" class="football img-fluid">
            <img src="assets/images/basketball.svg" class="basketball img-fluid">

        </div>
    </div>

    <div class="row no-gutter">
        <div class="col-md-6 ord1 " >
            <img src="assets/images/shape2.svg" class="shape2 img-fluid">
            <img src="assets/images/memphis.svg" class="memphis1 img-fluid">
            <img src="assets/images/memphis.svg" class="memphis3 img-fluid">
            <img src="assets/images/tennis.svg" class="tennis img-fluid">
        </div>

        <div class="col-md-6 ord2 order-2"  >
            <img src="assets/images/shape2.svg" class="shape2 img-fluid">
            <img src="assets/images/memphis.svg" class="memphis6 img-fluid">
            <img src="assets/images/memphis.svg" class="memphis7 img-fluid">
            <img src="assets/images/tennis.svg" class="tennis img-fluid">
        </div>


        <div class="col-md-6 text-center">
            <span class="abt">
                About IDSE
            </span>
            <div class="about">
                    INTER-DEPARTMENTAL SPORTS EVENT (IDSE) is the Annual Sports Meet of Ajay Kumar Garg Engineering College, Ghaziabad.
                     The aim is to ensure the physical development of the students, along with the holistic and all-round development.
                     The event comprises of the following 7 contingents: ME, CS, ECE, IT, EN, CE+EI, MBA+MCA.
            </div>
        </div>
    </div>
    <div class="row no-gutter" >
            <div class="col-2"></div>
                <div class="col-md-8 idse18title">
                    <span class="idse18">
                        Inter Departmental Sports Events'18
                    </span>

                    <div class="idsepara1">
                            Ajay Kumar Garg Engineering College has always aimed for holistic and all-round development of its students.
                             Apart from academics, the college also pays equal concern over the physical development of the students,
                              and in the spirit of the game the college organized INTER DEPARTMENTAL SPORTS EVENTS that spanned over two months.
                              The events witnessed a massive participation of more than 1500 students in about 24 different sporting events.
                             A total of  256 matches were played during the course of the sports meet.
                    </div>
                    <br>
                    <div class="idsepara2">
                            All the sports and athletics events were keenly contested by all the departments/contingent of the college.
                             The championship trophy was won by the Department of Mechanical Engineering without much competition with other departments. 
                            The final tally of the points this year was as follows:
                    </div>
                    <br>
                    <table class="table table-bordered point tab1">
                        <thead>
                            <tr>
                                <th scope="col">Branch</th>
                                <th scope="col">Gold</th>
                                <th scope="col">Silver</th>
                                <th scope="col">Bronze</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td scope="col">ME</td>
                                <td scope="col">13</td>
                                <td scope="col">11</td>
                                <td scope="col">10</td>
                                <td scope="col">117</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered point tab2 table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Branch</th>
                                    <th scope="col">Gold</th>
                                    <th scope="col">Silver</th>
                                    <th scope="col">Bronze</th>
                                    <th scope="col">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td scope="col">ME</td>
                                    <td scope="col">13</td>
                                    <td scope="col">11</td>
                                    <td scope="col">10</td>
                                    <td scope="col">117</td>
                                </tr>
                            </tbody>
                        </table>
                        <img src="assets/images/memphis.svg" class="memphis4 img-fluid">
                        <img src="assets/images/memphis.svg" class="memphis5 img-fluid">
                        <br>
                        <div class="idsepara2" id="awesomePart">
                                Towards the end, Dr. R.K. Agarwal shared his words of wisdom with the students appreciating their enthusiasm to participate in sports events and adapting the wise adage “Healthy body is the key to healthy mind.”
                                 Thereafter, Prof. V.K. Parashar, Dean Student Welfare, extended his vote of thanks towards all the members of the AKGEC family who in one way or the other supported and contributed towards a successful conduct of the events.
                                  Mr. Pratap Singh, Sports officer, Yash Saxena & Anubhav Panwar worked tirelessly to bring about efficient management and completion of the events.
                        </div>
                    </div>    
    </div>
    <br>

</div>

<app-gallery></app-gallery>
