<div class="row akgtitle">
    <img src="../../assets/images/akg_logo.svg" class="logo img-fluid" >
    <span class='akg'> AJAY KUMAR GARG ENGINEERING COLLEGE</span>
</div>

<div class="row">
    <div class="col-6 idse" >
        <div>INTER</div>
        <div>DEPARTMENTAL</div>
        <div>SPORTS EVENT' 19</div>
        <button class="btn register">Register</button>
    </div>
    <div class="col-6">
        <img src="../../assets/images/shape1.svg" class="shape1">
        <img src="../../assets/images/memphis.svg" class="memphis1">
        <img src="../../assets/images/memphis.svg" class="memphis2">
        <img src="../../assets/images/running.svg" class="running">
    </div>
</div>




