
.row{

    margin: 0 ;
    padding: 0;
}

.slide-section{
  overflow: hidden;
}

.logo{
    width: 3rem;
    height: auto;
}
.logo1{
  display: none;
}

.akg{
    color: white;
    font-size: 1.4rem;
    margin: 2rem 1rem
}

.akgtitle{
    margin: 0.5rem 1rem
}

.shape1{
    margin-top: -4rem;
    margin-left: 4rem;
    position: relative;
}
.idse{
    color: white;
    font-size: 3.5rem;
    padding-left: 5rem;
    padding-top: 4rem;
    font-weight: bold
}

.register{
    background-image: linear-gradient(to right, #090930 , #E9234D);
    padding: 0.4rem 2rem 0.3rem 2rem ;
    font-size: 1.2rem;
    border: #E9234D solid 1.5px;
    color: white;
    border-radius: 20px;
    
}

.register{
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.memphis1,.memphis6{
    width: 12%;
    position: absolute;
    top:2rem;
    right: 5rem;
}
.memphis2{
    width: 12%;
    position: absolute;
    top:20rem;
    left: 5rem;
}
.running{
    height: 65%;
    position: absolute;
    bottom:30%;
    animation-name: anim-1;
    animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.football{
  height: 78%;
  position: absolute;
  bottom:20%;
  left: 6%;
  animation-name: anim-2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.basketball{
  position: absolute;
  height: 83%;
    bottom:23%;
    margin:auto;
    left: 11%;
    animation-name: anim-3;
    animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes anim-1 {
  0%, 8.3% { opacity: 0; }
  8.3%,25% {  opacity: 1; }
  33.33%, 100% { opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% {  opacity: 0; }
  41.63%, 58.29% { opacity: 1; }
  66.66%, 100% {  opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% {  opacity: 0; }
  74.96%, 91.62% { opacity: 1; }
  100% { opacity: 0; }
}


.shape2{
    margin-top: -4rem;
    margin-left: -5rem;
    position: relative;
}
.memphis3,.memphis7{
    width: 12%;
    position: absolute;
    top:24rem;
    left: 5rem;
}
.tennis{
    position: absolute;
    height: 65%;
    top:3rem;
    left:3rem
}

.tennis:hover{
  animation-name: jello;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.register:hover{
  animation-name: jello;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}



.abt{
    color: #E9234D;
    margin-left: 2rem;
    font-size: 2.2rem;
    border-bottom: solid 5px;
    padding-bottom: .5rem;
    border-image: linear-gradient(to right, #090930 , #E9234D, #090930) 1 ;
}

.about{
    color: white;
    margin: 3rem 6rem 2rem 2rem ;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
  text-justify: inter-word;
}

.idse18{
    color: #E9234D;
    font-size: 2.2rem;
    border-bottom: solid 5px;
    padding-bottom: .5rem;
    border-image: linear-gradient(to right, #090930 , #E9234D, #090930) 1 ;
    display: inline-block
}

.idse18title{
    text-align: center
}

.idsepara1{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: justify;
  text-justify: inter-word;
    margin-top: 2rem
}

.idsepara2{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.point{
    color:white;
    font-size: 1.2rem;
}

table.table-bordered{
    border:2.5px solid #E9234D;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2.5px solid #E9234D;
}
table.table-bordered > tbody > tr > td{
    border:2.5px solid #E9234D;
}
table{
    position: relative;
}
.memphis4{
    position: absolute;
    bottom: 15rem;
    left: 0rem;
    width: 9%;
    z-index: -1;
}
.memphis5{
    position: absolute;
    bottom: 32rem;
    right: -1rem;
    width: 9%;
    z-index: -1;
}

.glitch {
    position: relative;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(41px, 9999px, 45px, 0);
    }
    5% {
      clip: rect(85px, 9999px, 32px, 0);
    }
    10% {
      clip: rect(51px, 9999px, 21px, 0);
    }
    15% {
      clip: rect(40px, 9999px, 68px, 0);
    }
    20% {
      clip: rect(94px, 9999px, 95px, 0);
    }
    25% {
      clip: rect(58px, 9999px, 88px, 0);
    }
    30% {
      clip: rect(97px, 9999px, 56px, 0);
    }
    35% {
      clip: rect(83px, 9999px, 85px, 0);
    }
    40% {
      clip: rect(91px, 9999px, 69px, 0);
    }
    45% {
      clip: rect(10px, 9999px, 41px, 0);
    }
    50% {
      clip: rect(62px, 9999px, 3px, 0);
    }
    55% {
      clip: rect(80px, 9999px, 90px, 0);
    }
    60% {
      clip: rect(68px, 9999px, 49px, 0);
    }
    65% {
      clip: rect(69px, 9999px, 11px, 0);
    }
    70% {
      clip: rect(22px, 9999px, 87px, 0);
    }
    75% {
      clip: rect(4px, 9999px, 25px, 0);
    }
    80% {
      clip: rect(43px, 9999px, 18px, 0);
    }
    85% {
      clip: rect(49px, 9999px, 56px, 0);
    }
    90% {
      clip: rect(45px, 9999px, 96px, 0);
    }
    95% {
      clip: rect(8px, 9999px, 78px, 0);
    }
    100% {
      clip: rect(63px, 9999px, 87px, 0);
    }
  }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #090930;
    top: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 5s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(74px, 9999px, 99px, 0);
    }
    5% {
      clip: rect(46px, 9999px, 19px, 0);
    }
    10% {
      clip: rect(18px, 9999px, 27px, 0);
    }
    15% {
      clip: rect(79px, 9999px, 12px, 0);
    }
    20% {
      clip: rect(70px, 9999px, 30px, 0);
    }
    25% {
      clip: rect(53px, 9999px, 7px, 0);
    }
    30% {
      clip: rect(43px, 9999px, 49px, 0);
    }
    35% {
      clip: rect(51px, 9999px, 100px, 0);
    }
    40% {
      clip: rect(96px, 9999px, 29px, 0);
    }
    45% {
      clip: rect(58px, 9999px, 36px, 0);
    }
    50% {
      clip: rect(12px, 9999px, 53px, 0);
    }
    55% {
      clip: rect(71px, 9999px, 17px, 0);
    }
    60% {
      clip: rect(18px, 9999px, 88px, 0);
    }
    65% {
      clip: rect(47px, 9999px, 43px, 0);
    }
    70% {
      clip: rect(80px, 9999px, 50px, 0);
    }
    75% {
      clip: rect(21px, 9999px, 70px, 0);
    }
    80% {
      clip: rect(17px, 9999px, 92px, 0);
    }
    85% {
      clip: rect(4px, 9999px, 21px, 0);
    }
    90% {
      clip: rect(45px, 9999px, 38px, 0);
    }
    95% {
      clip: rect(8px, 9999px, 57px, 0);
    }
    100% {
      clip: rect(58px, 9999px, 15px, 0);
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #E9234D;
    top: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 5s infinite linear alternate-reverse;
  }
  

  .ord2{
    display: none;
  }
  
  .tab2{
    display: none;
  }

  /* ----- for Responsiveness -----  */

@media only screen and (max-width: 768px) {

    .akg{
        font-size: 1rem;
        margin: 1rem 0.5rem;
        font-weight: 400;
        
    }
    .akgtitle{
        margin: 0.5rem 0.5rem;
        text-align: center;
        margin:auto;
    }
    .logo{
        display: none;
    }
    .logo1{
        display: block;
        margin: auto;
        width: 3rem;
    }

    .idse{
        color: white;
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 0rem
    }

    .register{
      padding: 0.2rem 1.3rem  ;
      font-size: 1rem;
      font-weight: 300;
      border: #E9234D solid 1px;
      color: white;
      border-radius: 20px;
      animation-name: pulse 2s;
  }

  .register a:hover{
    animation-name: pulse 2s;
  }
 

  .shape1{
    margin-top: 1rem;
    margin-left: 4rem;
    position: relative;
}

.running{
  height: 60%;
    bottom:25%;
    margin:auto
}

.football{
  height: 70%;
    bottom:15%;
    margin:auto
}

.basketball{
  height: 78%;
    bottom:13%;
    margin:auto;
    left: 7%;
}

.memphis1{
    right: 1rem;
}

.memphis2{
  top: 11rem;
  left: 3rem;
}
.ord2{
  display: inline;
}

.ord1{
  display: none;
}

.abt{
  margin: 0;
    font-size: 1.5rem;
    border-bottom: solid 4px;
    padding-bottom: .2rem;
}

.about{
  margin: 1rem 0rem;
  font-size: 1rem;

}

.shape2{
  margin-top: 0rem;
}

.tennis{
  position: absolute;
    height: 75%;
    top:2rem;
    left:0rem
}

.memphis6{
  right: 2rem;
}

.memphis7{
  top: 13rem;
  left: 2rem;
}
.idse18{
    font-size: 1.5rem;
    border-bottom: solid 4px;
    padding-bottom: .2rem;
    margin-top: 2rem;
}

.idsepara1{
  font-size: 1rem;
}

.idsepara2{
  font-size: 1rem;
}

.point{
  color:white;
  font-size: 1rem;
}

.tab1{
  display: none;
}

.tab2{
  display: inline-block;
}

/* .table td, .table th{
  padding: 0.4rem;
} */

table.table-bordered{
  border:2px solid #E9234D;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:2px solid #E9234D;
}
table.table-bordered > tbody > tr > td{
  border:2px solid #E9234D;
}

.memphis5{
  bottom: 35rem;
  width: 12%;
  right: 0rem;;
  z-index: -1;
}

.memphis4{
  bottom: 23rem;
  width: 12%;
  right: 0rem;;
  z-index: -1;
}
}

@media only screen and (max-width: 1200){
  .idse{
    color: white;
    font-size: 0.5rem;
    padding-left: 0rem;
    padding-top: 1rem;
    padding-right: 0rem
}
}