<div class="container">
    <div class="idse18title">
        <span class="idse18">
            Register Yourself
        </span>
    </div>
    <div class="container">
            <div class="row justify-content-center no-gutter regform">
        
                    <div class="col-md-5 mt-md-3 mt-2">
                            <label class="lab" for="name">Full Name</label>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" id="name" aria-describedby="basic-addon3">
                            </div>
                            <div class='validation' >Invalid Full Name</div>
                    </div>
                    <div class="col-md-5 mt-md-3 mt-2">
                            <label class="lab" for="studentno">Student Number</label>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" id="studentno" aria-describedby="basic-addon3">
                            </div>
                            <div class='validation' >Invalid Full Name</div>
                    </div>
            
        </div>

        <div class="row justify-content-center no-gutter regform">
        
                <div class="col-md-5 mt-md-3 mt-2">
                        <label class="lab" for="contactno">Contact number</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="contactno" aria-describedby="basic-addon3">
                        </div>
                        <div class='validation' >Invalid Full Name</div>
                </div>
                <div class="col-md-5 mt-md-3 mt-2">
                        <label class="lab" for="email">E-mail</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="email" aria-describedby="basic-addon3">
                        </div>
                        <div class='validation' >Invalid Full Name</div>
                </div>
        
    </div>

    </div>


</div>